.App {
  background-color: #0f1230;
  /* height: calc(100vh - 139px) !important; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img-banner {
  height: 300px;
  width: 100%;
}
